{% extends "layout.html" %}

{% block pageTitle %}
  Get support during your driving test
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/round5/which-test-are-you-booking"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="v4-nsa">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get support during your driving test</h1>

    <form class="form" action="/round5/nsa/select-support-type" method="post">

      <p class="govuk-body">You can get support during your driving test if you have a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>disability</li>
        <li>health condition</li>
        <li>learning difficulty</li>
        <li>neurodivergent condition - for example, autism, dyslexia or ADHD</li>
      </ul>

      <p class="govuk-body">Find out more about the <a
          href="https://www.gov.uk/driving-test/disability-health-condition-or-learning-difficulty" target="_blank">support you can get
          during your driving test</a>.</p>
<br>
      <form class="form" method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "additional-support",
          fieldset: {
            legend: {
              text: "Do you need support on your driving test?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              id: "yes-option",
              value: "yes",
              text: "Yes"
            },
            {
              id: "no-option",
              value: "no",
              text: "No"
            }
          ]
        }) }}
<hr>
<br>
      {{ govukButton({
        attributes: {
          id: "continue"
        },
        text: "Continue",
        href: "/round5/which-language-do-you-want-to-use"
      }) }}
      </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script>
    document.getElementById('yes-option').addEventListener('change', () => {
      document.getElementById('continue').href = "/round5/select-support-type"
    })

    document.getElementById('no-option').addEventListener('change', () => {
      document.getElementById('continue').href = "/round5/which-language-do-you-want-to-use"
    })
  </script>
{% endblock %}