{% extends "layout.html" %}

{% set bodyClasses = bodyClasses | default("govuk-template-blue__body") %}

{% block head %}
  {{ super() }}
  <link href="/public/stylesheets/sass/round6b/what-you-need-to-book.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
What you need to book
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/round6b/service-start-page",
classes: "govuk-back-link-white"
}) }}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}

{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
containerClasses: "govuk-header__full-width"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl whiteText">Book a driving test</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/round6b/nsa/who-is-taking-the-test" method="post">

      <p class="govuk-body whiteText govuk-!-font-weight-bold">This service is the best way to:</p>
      <br>

      <ul class="govuk-list whiteText govuk-!-font-weight-bold govuk-list--bullet">
        <li>find the next available slot</li>
        <li>tell us if you need support during a driving test</li>
        <li>book and pay for a driving test</li>
      </ul>

      <br>

      <p class="govuk-body whiteText govuk-!-font-weight-bold">
        You'll need the provisional or full driving licence details of the person taking the test
        and a credit or debit card to book.</p>
    </form>

    <br>
    <br>

    <a href="/round6b/who-is-taking-the-test" class="govuk-button-white" data-module="govuk-button">
      Continue
    </a>

  </div>

  <div class="govuk-grid-column-one-third">
    <div style="margin-left: 25px;">
      <p class="govuk-body whiteText govuk-!-font-weight-bold">Driving License</p>

      <img src="/public/images/round6b/driving-license.png" width="200" height="140" />

      <br>
      <br>
      <br>

      <p class="govuk-body whiteText govuk-!-font-weight-bold">Credit or debit card</p>

      <img src="/public/images/round6b/credit-card.png" width="200" height="140" />
    </div>
  </div>

</div>
</div>

{% endblock %}

{% block footer %}
{{ govukFooter({
}) }}

{% endblock %}