{% extends "layout.html" %}

{% block pageTitle %}
Which language do you want to use on your driving test?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/round6/do-you-need-support"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Which language do you want to use during your driving test?</h1>
      {{ govukInsetText({
        text: "You can only take a driving test in English, Cymraeg (Welsh) or British Sign Language (BSL)."
      }) }}
      <form class="form" method="post">
        {{ govukRadios({
          name: "language",
          items: [
            {
              value: "english",
              text: "English"
            },
            {
              value: "welsh",
              text: "Cymraeg (Welsh)"
            },
            {
              value: "bsl",
              text: "BSL (British Sign Language)",
              hint: {
                text: "You can take a BSL interpreter on the driving test and apply for a refund after"
              }
            }
          ]
        }) }}
<br>
<hr>
<br>
        {{ govukButton({
          text: "Continue",
          href: "/round6/where-do-you-want-to-take-your-test"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
