{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Prototypes:<br>Candidate Booking</h1>
        <h1 class="govuk-heading-l">Extended Alpha (Nov-Oct 2022)</h1>
    <hr>
    <br>
    <h1 class="govuk-heading-m">User research round 6B</h1>

    <div class="latest-proto">
      <h3 class="govuk-heading-s">Optimised for desktop</h3>
      <ul>
        <li><a href="round6b/service-start-page">Service Start Page</a></li>
        <li><a href="round6b/what-you-need-to-book">What you need to book your test</a></li>
        <li><a href="round6b/who-is-taking-the-test">Who is taking the driving test</a></li>
        <li><a href="round6b/which-test-are-you-booking">Which driving test do you want to book</a></li>
        <li><a href="round6b/do-you-need-support">Get support on you driving test</a></li>
        <li><a href="round6b/select-support-type">How can we support you to take your test</a></li>
        <li><a href="round6b/which-language-do-you-want-to-use">Which language do you want to use on your driving test?</a></li>
        <li><a href="round6b/where-do-you-want-to-take-your-test">Where do you want to take your driving test</a></li>
        <li><a href="round6b/choose-a-test-centre">Choose a test centre</a></li>
        <li><a href="round6b/choose-test-date-and-time">Choose a date and time for your test</a></li>
        <li><a href="round6b/candidate-email">Enter the email address of the person taking the test</a></li>
        <li><a href="round6b/check-your-booking-details">Check your booking details</a></li>
        <li><a href="round6b/card-payment/card-details">Card details</a></li>
        <li><a href="round6b/card-payment/additional-information">Additional information</a></li>
        <li><a href="round6b/card-payment/payment-confirmation">Payment confirmation</a></li>
        <li><a href="round6b/confirmation">Confirmation</a></li>
        <li><a href="/prototype-admin/clear-data" >Clear session data</a></li>
      </ul>
    </div>

    <h1 class="govuk-heading-m">User research round 6</h1>

    <div class="latest-proto">
      <h3 class="govuk-heading-s">Optimised for desktop</h3>
      <ul>
        <li><a href="round6/service-start-page">Service Start Page</a></li>
        <li><a href="round6/what-you-need-to-book">What you need to book your test</a></li>
        <li><a href="round6/who-is-taking-the-test">Who is taking the driving test</a></li>
        <li><a href="round6/which-test-are-you-booking">Which driving test do you want to book</a></li>
        <li><a href="round6/do-you-need-support">Get support on you driving test</a></li>
        <li><a href="round6/select-support-type">How can we support you to take your test</a></li>
        <li><a href="round6/which-language-do-you-want-to-use">Which language do you want to use on your driving test?</a></li>
        <li><a href="round6/where-do-you-want-to-take-your-test">Where do you want to take your driving test</a></li>
        <li><a href="round6/choose-a-test-centre">Choose a test centre</a></li>
        <li><a href="round6/choose-test-date-and-time">Choose a date and time for your test</a></li>
        <li><a href="round6/candidate-email">Enter the email address of the person taking the test</a></li>
        <li><a href="round6/check-your-booking-details">Check your booking details</a></li>
        <li><a href="round6/card-payment/card-details">Card details</a></li>
        <li><a href="round6/card-payment/additional-information">Additional information</a></li>
        <li><a href="round6/card-payment/payment-confirmation">Payment confirmation</a></li>
        <li><a href="round6/confirmation">Confirmation</a></li>
        <li><a href="/prototype-admin/clear-data" >Clear session data</a></li>
      </ul>
    </div>

    <h1 class="govuk-heading-m">User research round 5</h1>

    <div class="latest-proto">
      <h3 class="govuk-heading-s">Optimised for desktop</h3>
      <ul>
        <li><a href="round5/service-start-page">Service Start Page</a></li>
        <li><a href="round5/what-you-need-to-book">What you need to book your test</a></li>
        <li><a href="round5/who-is-taking-the-test">Who is taking the driving test</a></li>
        <li><a href="round5/which-test-are-you-booking">Which driving test do you want to book</a></li>
        <li><a href="round5/do-you-need-support">Get support on you driving test</a></li>
        <li><a href="round5/select-support-type">How can we support you to take your test</a></li>
        <li><a href="round5/which-language-do-you-want-to-use">Which language do you want to use on your driving test?</a></li>
        <li><a href="round5/where-do-you-want-to-take-your-test">Where do you want to take your driving test</a></li>
        <li><a href="round5/choose-a-test-centre">Choose a test centre</a></li>
        <li><a href="round5/choose-test-date-and-time">Choose a date and time for your test</a></li>
        <li><a href="round5/candidate-email">Enter the email address of the person taking the test</a></li>
        <li><a href="round5/check-your-booking-details">Check your booking details</a></li>
        <li><a href="round5/card-payment/card-details">Card details</a></li>
        <li><a href="round5/card-payment/additional-information">Additional information</a></li>
        <li><a href="round5/card-payment/payment-confirmation">Payment confirmation</a></li>
        <li><a href="round5/confirmation">Confirmation</a></li>
      </ul>
    </div>

    <h1 class="govuk-heading-l">Alpha</h1>

  <h1 class="govuk-heading-m">User research round 4</h1>
  <hr>
  <br>
    <div class="latest-proto">
    <h3 class="govuk-heading-s">Book a driving test (With access needs)</h3>
    <ul>
      <li><a href="round4-accessNeeds/nsa/index">Guidance page</a></li>
      <li><a href="round4-accessNeeds/do-you-need-support">Do you want support</a></li>
      <li><a href="round4-accessNeeds/nsa/008-candidate-details">Candidate details</a></li>
      <li><a href="round4-accessNeeds/nsa/candidate-email">Candidate email</a></li>
      <li><a href="round4-accessNeeds/nsa/which-theory-test-are-you-booking">Select test type</a></li>
      <li><a href="round4-accessNeeds/nsa/007-langauge">Select language</a></li>
      <li><a href="round4-accessNeeds/nsa/select-support-type">Select support type</a></li>
      <li><a href="round4-accessNeeds/nsa/leaving-nsa">Continue to book a driving test</a></li>
      <li><a href="round4-accessNeeds/nsa/004-search-for-test-centre">Where do you want to take your test?</a></li>
      <li><a href="round4-accessNeeds/nsa/choose-test-centre">Choose a test centre</a></li>
      <li><a href="round4-accessNeeds/nsa/select-date">When do you want to take the test</a></li>
      <li><a href="round4-accessNeeds/nsa/check-your-answers">Check your answers</a></li>
      <li><a href="round4-accessNeeds/nsa/confirmation-nsa">Confirmation page</a></li>
    </ul>
  </div>

  <div class="latest-proto">
    <h3 class="govuk-heading-s">Optimised for mobile</h3>
    <ul>
      <li><a href="round4/nsa/index">Guidance page</a></li>
      <li><a href="round4/nsa/008-candidate-details">Candidate details</a></li>
      <li><a href="https://invis.io/9612ZRJRVNER">Joined up journey</a></li>
      <li><a href="round4/nsa/which-theory-test-are-you-booking">Select test type</a></li>
      <li><a href="round4/do-you-need-support">Do you want support</a></li>
      <li><a href="round4/nsa/select-support-type">Select support type</a></li>
      <li><a href="round4/nsa/candidate-email">Candidate email</a></li>
      <li><a href="round4/nsa/007-langauge">Select language</a></li>
      <li><a href="round4/nsa/004-search-for-test-centre">Where do you want to take your test?</a></li>
      <li><a href="round4/nsa/choose-test-centre">Choose a test centre</a></li>
      <li><a href="https://invis.io/4V12ZRGXE3PJ">When do you want to take the test</a></li>
      <li><a href="round4/nsa/check-your-answers">Check your answers</a></li>
      <li><a href="round4/nsa/confirmation-nsa">Confirmation page</a></li>
    </ul>
  </div>

  <h1 class="govuk-heading-m">User research round 3</h1>

  <div class="latest-proto">
    <h3 class="govuk-heading-s">Optimised for desktop</h3>
    <ul>
      <li><a href="round3/nsa/index">Guidance page</a></li>
      <li><a href="round3/do-you-need-support">Do you want support</a></li>
      <li><a href="round3/nsa/008-candidate-details">Candidate details</a></li>
      <li><a href="round3/nsa/candidate-email">Candidate email</a></li>
      <li><a href="round3/nsa/which-theory-test-are-you-booking">Select test type</a></li>
      <li><a href="round3/nsa/007-langauge">Select language</a></li>
      <li><a href="round3/nsa/select-support-type">Select support type</a></li>
      <li><a href="round3/nsa/leaving-nsa">Continue to book a driving test</a></li>
      <li><a href="round3/nsa/004-search-for-test-centre">Where do you want to take your test?</a></li>
      <li><a href="round3/nsa/choose-test-centre">Choose a test centre</a></li>
      <li><a href="round3/nsa/select-date">When do you want to take the test</a></li>
      <li><a href="round3/nsa/check-your-answers">Check your answers</a></li>
      <li><a href="round3/nsa/confirmation-nsa">Confirmation page</a></li>
    </ul>


  </div>

  <h1 class="govuk-heading-m">User research round 2</h1>


  <div class="latest-proto">
    <h3 class="govuk-heading-s">Design concepts</h3>
    <ul>
      <li><a href="https://invis.io/X412Z7EXMBAU">Joined up journey</a></li>

    </ul>
    <h3 class="govuk-heading-s">Optimised for desktop</h3>
    <ul>
      <li><a href="round2/nsa/index">Guidance page</a></li>
      <li><a href="round2/do-you-need-support">Do you want support</a></li>
      <li><a href="round2/nsa/008-candidate-details">Candidate details</a></li>
      <li><a href="round2/nsa/candidate-email">Candidate email</a></li>
      <li><a href="round2/nsa/which-theory-test-are-you-booking">Select test type</a></li>
      <li><a href="round2/nsa/007-langauge">Select language</a></li>
      <li><a href="round2/nsa/select-support-type">Select support type</a></li>
      <li><a href="round2/nsa/leaving-nsa">Continue to book a driving test</a></li>
      <li><a href="round2/nsa/004-search-for-test-centre">Where do you want to take your test?</a></li>
      <li><a href="round2/nsa/choose-test-centre">Choose a test centre</a></li>
      <li><a href="round2/nsa/select-date">When do you want to take the test</a></li>
      <li><a href="round2/nsa/check-your-answers">Check your answers</a></li>
      <li><a href="round2/nsa/confirmation-nsa">Confirmation page</a></li>
    </ul>


  </div>

  <h1 class="govuk-heading-m">User research round 1</h1>

  <div class="latest-proto">
    <h3 class="govuk-heading-s">Design concepts</h3>
    <ul>
      <li><a href="https://invis.io/TJ12YJAS4W3M">Design concepts</a></li>

    </ul>
    <h3 class="govuk-heading-s">Prototype based on theory test service</h3>
    <ul>
      <li><a href="round1/nsa/index">Guidance page</a></li>
      <li><a href="round1/do-you-need-support">Do you want support</a></li>
      <li><a href="round1/nsa/008-candidate-details">Candidate details</a></li>
      <li><a href="round1/nsa/candidate-email">Candidate email</a></li>
      <li><a href="round1/nsa/which-theory-test-are-you-booking">Select test type</a></li>
      <li><a href="round1/nsa/007-langauge">Select language</a></li>
      <li><a href="round1/nsa/select-support-type">Select support type</a></li>
      <li><a href="round1/nsa/leaving-nsa">Continue to book a driving test</a></li>
      <li><a href="round1/nsa/004-search-for-test-centre">Where do you want to take your test?</a></li>
      <li><a href="round1/nsa/choose-test-centre">Choose a test centre</a></li>
      <li><a href="round1/nsa/select-date">When do you want to take the test</a></li>
      <li><a href="round1/nsa/check-your-answers">Check your answers</a></li>
      <li><a href="round1/nsa/confirmation-nsa">Confirmation page</a></li>
    </ul>


  </div>
</div>

{% endblock %}